{
    "mackerel_api_key": "MACKEREL_API_KEY",
    "monitors": [
        {
            "mackerel_monitor_id": "1ABcdEfghIj",
            "mackerel_monitor_name": "DynamoDB.ConsumedWriteCapacityUnits.users-table",
            "parameters": [
                {
                    "type": "replace",
                    "key": "warning",
                    "value": 1000
                },
                {
                    "type": "replace",
                    "key": "critical",
                    "value": 1200
                }
            ]
        },
        {
            "mackerel_monitor_id": "2ABcdEfghIj",
            "mackerel_monitor_name": "ELB.InServiceHostCount.elb-name",
            "parameters": [
                {
                    "type": "replace",
                    "key": "warning",
                    "value": 10
                },
                {
                    "type": "replace",
                    "key": "critical",
                    "value": 8
                }
            ]
        }
    ]
}
